* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: space-around;
}

.arrow {
  border-color: lightgrey;
  border-radius: 5px;
  height: 60px;
  font-weight: bold;
}

.hot {
  background-color: red;
  border: 1px solid grey;
}

.outerboxes {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1.5rem;
  flex: auto;
  justify-content: flex-start;
}

#first button:nth-child(2) {
  background-color: red;
}

#second button {
  background-color: red;
}

#third button:first-child {
  background-color: red;
}

#moe {
  order: 4;
}

#larry {
  order: 5;
}

#curly {
  order: 6;
}

#lucy {
  order: 7;
}