* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

h2 {
  margin-bottom: 35px;
}

div {
  display: flex;
  justify-content: space-around;
}

.arrow {
  height: 50px;
  font-weight: bold;
  border: 0.5pt solid lightgrey;
  margin: 0.4px;
}

.hot {
  background-color: orangered;
}

.outerboxes {
  border: 1px solid orangered;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem 1rem 2rem 1rem;
  flex: 1;
  justify-content: flex-start;
}

#first button:nth-child(2) {
  background-color: orangered;
}

#second button {
  background-color: orangered;
}

#third button:first-child {
  background-color: orangered;
}

.selection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  height: 50px;
  margin: 0.7px;
}

#moe {
  order: 4;
}

#larry {
  order: 5;
}

#curly {
  order: 6;
}

#lucy {
  order: 7;
}